.App {
  text-align: center;
}

.Reviews {
  width: 100%;
}

.reviewsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.reviewLink {
  text-decoration: none;
  color: black;
}

.review {
  margin: 2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 1vh;
  max-height: 40vw;
  width: 40vw;
  overflow: hidden;
  font-size: 0.8em;
  align-items: center;
  transition: scale 0.3s ease-in;
}

.review:hover {
  scale: 1.1;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.review > img {
  aspect-ratio: 16/9;
  max-width: 50%;
  max-height: 50%;
  object-fit: cover;
}

.reviewTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.singleReview {
  margin: 0 auto;
  width: 70vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 2vh;
}

.singleReview > img {
  aspect-ratio: 16/9;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  object-fit: cover;
  width: 75%;
}

.reviewBody {
  line-height: 2rem;
  max-width: 75%;
  margin: 0 auto;
}

.reviewBody > p {
  margin-top: 5vh;
}

.date {
  font-style: italic;
  font-size: 0.8em;
  color: rgb(167, 167, 167);
}

.commentsList {
  max-width: 74%;
  margin: 0 auto;
}

.singleComment {
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  margin-top: 15vh;
}

.singleComment:first-child {
  margin-top: 9vh;
}

.singleComment::after {
  content: "";
  display: inline-block;
  position: relative;
  bottom: -20px;
  left: 25%;
  border-left: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
  border-bottom: 1.2em solid rgba(205, 205, 205, 0.606);
  transform: rotate(-45deg);
  margin-left: 0.2em;
}

.singleComment span {
  position: relative;
  left: 26%;
  top: 2.5em;
  font-size: 0.8em;
  font-style: italic;
}

.commentBody {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  translate: 0% 15%;
}

.commentText {
  font-style: italic;
  translate: 0 2vh;
}

.noComments {
  max-width: 74%;
  margin: 10vh auto;
  height: 20vh;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

.noComments p {
  position: relative;
  top: 50%;
  translate: 0% -50%;
  font-style: italic;
}

.votes {
  border: 1px solid black;
  width: 10vw;
  translate: 10% 5vh;
}
